header{

  padding: var(--padding-thin);

  .flex{
    display: flex;
    flex-direction: column;
  }

  .entete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
  }

  img{
    width: 50px;
    margin-right: var(--margin-thin);
  }
}




@media screen and (min-width: $vw-medium){

  header{

    .flex{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  }

}