header{
  display: flex;
  flex-direction: column;


  .entete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
  }

  img{
    width: 15%;
    margin-right: var(--margin-thin);
  }
}