.hero{
  background: var(--color-bg-secondaire);
  padding: var(--padding-large) var(--padding-thin) 0 var(--padding-thin);
  margin-bottom: 0;

  h2{
    margin-top: 0;
  }

  .h3hero{
    margin-bottom: 0;
  }

  img{
    margin-top: 30px;
    margin-bottom: -6px;
    width: 60%;
  }
}





@media screen and (min-width: $vw-medium){

.hero{
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .divisionHero{
    width: 48%;
  }

  img{
    margin-bottom: 0px;
  }
}

}