.hero{
  background: var(--color-bg-secondaire);
  padding-top: var(--padding-large);
  margin-bottom: 0;

  h2{
    margin-top: 0;
  }

  .h3hero{
    margin-bottom: 0;
  }

  button{
    color: var(--color-text-secondaire);
    background: var(--color-gradient);
    padding: var(--padding-large);
    margin: var(--margin-large);
    border: none;
  }

  img{
    margin-bottom: -6px;
    width: 60%;
  }
}