nav{

  padding: var(--padding-thin);

  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  li{
    list-style: none;
  }

}




@media screen and (min-width: $vw-medium){

 nav{
   width: auto;

   li{
     margin-left: var(--margin-thin);
   }
 }
}