:root{

  //Dimensions page
  --max-width: 1200px;
  --min-width: 320px;

  //Padding
  --padding-thin: 10px;
  --padding-large: 20px;

  //Margin
  --margin-thin: 20px;
  --margin-large: 28px;
}


//Media queries breakpoints
$vw-thin: 320px;
$vw-small: 576px;
$vw-medium: 768px;
$vw-large: 992px;
$vw-huge: var(--max-width);