:root {
  //Dimensions font
  --font-normal :1rem;
  --font-medium: 1.5rem;
  --font-large: 1.75rem;
  --font-extra-large: 2rem;
  --font-hudge: 2.5rem;

  //Famille font
  --font-primaire: 'Montserrat', sans-serif;
  --font-secondaire: 'Sarabun', sans-serif;

  //Grosseur font
  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;

}