body{
  font-family: var(--font-primaire);
  color: var(--color-text-primaire);
  font-size: var(--font-normal);
  text-align: center;
  line-height: var(--lh-normal);

  background: var(--color-bg-primaire);

  margin: 0;
}