a{
  &:link{
    color: var(--color-link);
    text-decoration: none;
  }

  &:visited{
    color: var(--color-link-visited);
  }

  &:hover{
    text-decoration: underline;
    color: var(--color-link-hover);
  }

}

